<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
         bootstrap="./Test/Unit/bootstrap.php"
         cacheResultFile=".phpunit.result.cache"
         executionOrder="depends,defects"
         forceCoversAnnotation="false"
         beStrictAboutCoversAnnotation="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         failOnRisky="true"
         failOnWarning="true"
         verbose="true">
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./Test/Unit</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory suffix="Test.php">./Test/Integration</directory>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./app/code/Stellion/Pricemind</directory>
        </include>
        <exclude>
            <directory>./app/code/Stellion/Pricemind/registration.php</directory>
            <directory>./Test</directory>
        </exclude>
    </coverage>

    <php>
        <ini name="memory_limit" value="-1"/>
        <ini name="date.timezone" value="UTC"/>
        <ini name="xdebug.mode" value="coverage"/>
    </php>
</phpunit>
